@page "{id?}"
@model dotNet_gram.Pages.Posts.IndexModel

@{
    Layout = "_Layout";
}


<div>
    <label asp-for="Post.Title">Title:</label>
    <label asp-for="Post.Title">@Model.Post.Title</label>
</div>

<div>
    <label asp-for="Post.Caption">Caption:</label>
    <label asp-for="Post.Caption">@Model.Post.Caption</label>
</div>

<div>
    
    <img src="@Model.Post.URL"/>
</div>

<div>
    <label asp-for="Post.Username">By:</label>
    <label asp-for="Post.Username">@Model.Post.Username</label>
</div>
<br />
<a class="btn btn-info" role="button"asp-page="/Posts/Manage" asp-route-id="@Model.Post.ID">Edit</a>