@page

@using dotNet_gram.Models.Interfaces

@inject IPost PostManager

@{
    //posts is equal to list of posts returned by the service
    var posts = await PostManager.GetPosts();
}

@foreach (var item in posts)
{
    //route has post id
    <a asp-page="/Posts/Index" asp-route-id="@item.ID">@item.Title</a>
    <p>@item.Caption</p>
    <p>@item.URL</p>
    <p>@item.Username</p>

}

<h3><a asp-page="/Posts/Manage">Add New Post</a></h3>