@page

@using dotNet_gram.Models.Interfaces

@inject IPost PostManager

@{
    Layout = "_Layout";
}

@{
    //posts is equal to list of posts returned by the service
    var posts = await PostManager.GetPosts();
}
<div class="post-container">
    @foreach (var item in posts)
    {
        <div class="post-item">
            <a asp-page="/Posts/Index" asp-route-id="@item.ID">@item.Title</a>
            <p>@item.Caption</p>
            <p>By: @item.Username</p>
            <img src="https://via.placeholder.com/150">
            @*<img src="@item.URL" />*@
        </div>
    }
</div>
        <h4><a asp-page="/Posts/Manage">Add New Post</a></h4>
